@using Web.FwCore
@using Business.Business
@using Business.CommonBusiness
@using Web.Models
@model Web.Models.ChonNguoiDungModel
<style>
    .tree_ul {
        list-style: none;
    }

    .tree_li {
        padding-top: 10px;
    }


    .tree_ul, .tree_li, .tree_div {
        float: left;
        padding-left: 10px;
    }

    .left_tree_ul {
        padding-left: 45px;
    }

    .tree_ul, .tree_li {
        width: 100%;
    }

    .pop_expand {
        width: 15px;
        height: 15px;
    }

    .pop_collapse {
        width: 15px;
        height: 15px;
        display: none;
    }

    .root_tree {
        background: rgba(0, 0, 0, 0) url('/Content/Images/folder-horizontal.png') no-repeat scroll 15px 1px;
    }

    .root_tree label {
        margin-left: 30px;
    }
    .nhan_su_dialog_by_dnt .modal-body{
        height:400px; 
        overflow-x:hidden; 
        overflow-y:scroll
    }
    .nhan_su_dialog_by_dnt .modal-body > table{
        width:100%;
    }
</style>

<div class="modal fade nhan_su_dialog_by_dnt" id="nhan_su_dialog_@Model.INDEX" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="closeModal close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 style="font-weight: bold; text-transform: uppercase;" class="modal-title" id="myModalLabel_@Model.INDEX">@(string.IsNullOrEmpty(Model.TITLE) ? "Lựa chọn cán bộ" : Model.TITLE)</h4>
            </div>
            <div class="modal-body" id="modal_body_@Model.INDEX">
                <table>
                    <tbody>
                        <tr>
                            <td width="30%">
                                <label class="lbl-title">Tên, account người dùng:</label>
                            </td>
                            <td>
                                <input class="e-input" id="KEYWORD_NGUOIDUNG_@Model.INDEX" name="KEYWORD_NGUOIDUNG" style="width: 90%;" type="text" value="">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div style="text-align: center; margin-top:5px;">
                                    <input type="button" value="Tra cứu" id="btnSearchNguoiDung_@Model.INDEX" style="background-color: #336699; height: 30px; border: none; width: 100px; color: white;">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="width:100%; margin:auto;">
                    <div id="nhan_su_result_dialog_@Model.INDEX" style="overflow-x: hidden;">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave_choose_nguoi_dung_ids_@Model.INDEX">Chọn</button>
                <button type="button" class="btn btn-default closeModal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".closeModal").click(function () {
            $(this).closest(".modal").modal("hide");
        });
        $("#KEYWORD_NGUOIDUNG_" + '@Model.INDEX').focus();
        $("#" + '@Model.ID_CLICK').click(function () {
            //getDataByAjax();
            var keyword = $("#KEYWORD_NGUOIDUNG_" + '@Model.INDEX').val();
            var ids = $("#" + '@Model.VALUE_ID').val();
            $.ajax({
                type: "POST",
                url: '/Common/ListUser',
                cache: false,
                data: {
                    COSO_ID: '@Model.COSO_ID',
                    DONVI_ID: '@Model.DONVI_ID',
                    PHONGBAN_ID: '@Model.PHONGBAN_ID',
                    TEXT_ID: '@Model.TEXT_ID',
                    VALUE_ID: '@Model.VALUE_ID',
                    IS_MULTICHOICE: '@Model.IS_MULTICHOICE',
                    IDS: ids,
                    KEYWORD: keyword,
                    CALLBACK_FUNCTION: '@Model.CALLBACK_FUNCTION',
                    INDEX: '@Model.INDEX',
                    SHOW_CHUC_VU_ID: '@Model.SHOW_CHUC_VU_ID',
                    EXCLUDE_IDS: '@Model.EXCLUDE_IDS'
                },
                success: function (data) {
                    $("#nhan_su_result_dialog_" + '@Model.INDEX').html(data);
                    $("#KEYWORD_NGUOIDUNG_" + '@Model.INDEX').focus();
                }
            });
            $("#nhan_su_dialog_" + '@Model.INDEX').modal("show");
        });
    });

    $("#KEYWORD_NGUOIDUNG_" + '@Model.INDEX').keypress(function (event) {
        if (event.which == 13) {
            event.preventDefault();
            var keyword = $("#KEYWORD_NGUOIDUNG_" + '@Model.INDEX').val();
            var ids = $("#" + '@Model.VALUE_ID').val();
            $.ajax({
                type: "POST",
                url: '/Common/ListUser',
                cache: false,
                data: {
                    COSO_ID: '@Model.COSO_ID',
                    DONVI_ID: '@Model.DONVI_ID',
                    PHONGBAN_ID: '@Model.PHONGBAN_ID',
                    TEXT_ID: '@Model.TEXT_ID',
                    VALUE_ID: '@Model.VALUE_ID',
                    IS_MULTICHOICE: '@Model.IS_MULTICHOICE',
                    IDS: ids,
                    KEYWORD: keyword,
                    CALLBACK_FUNCTION: '@Model.CALLBACK_FUNCTION',
                    INDEX: '@Model.INDEX',
                    SHOW_CHUC_VU_ID: '@Model.SHOW_CHUC_VU_ID',
                    EXCLUDE_IDS: '@Model.EXCLUDE_IDS'
                },
                success: function (data) {
                    $("#nhan_su_result_dialog_" + '@Model.INDEX').html(data);
                    $("#KEYWORD_NGUOIDUNG_" + '@Model.INDEX').focus();
                }
            });
        }
    });

    $("#btnSearchNguoiDung_" + '@Model.INDEX').click(function () {
        var keyword = $("#KEYWORD_NGUOIDUNG_" + '@Model.INDEX').val();
        var ids = $("#" + '@Model.VALUE_ID').val();
        $.ajax({
            type: "POST",
            url: '/Common/ListUser',
            cache: false,
            data: {
                COSO_ID: '@Model.COSO_ID',
                DONVI_ID: '@Model.DONVI_ID',
                PHONGBAN_ID: '@Model.PHONGBAN_ID',
                TEXT_ID: '@Model.TEXT_ID',
                VALUE_ID: '@Model.VALUE_ID',
                IS_MULTICHOICE: '@Model.IS_MULTICHOICE',
                IDS: ids,
                KEYWORD: keyword,
                CALLBACK_FUNCTION: '@Model.CALLBACK_FUNCTION',
                INDEX: '@Model.INDEX',
                SHOW_CHUC_VU_ID: '@Model.SHOW_CHUC_VU_ID',
                EXCLUDE_IDS: '@Model.EXCLUDE_IDS'
            },
            success: function (data) {
                $("#nhan_su_result_dialog_" + '@Model.INDEX').html(data);
                $("#KEYWORD_NGUOIDUNG_" + '@Model.INDEX').focus();
            }
        });
    });


</script>

