@using Web.Models
@model FilesViewModel

<style>
    .e-input {
        width: 223px;
    }
</style>
@{
    if (!string.IsNullOrEmpty(Model.MaxSize))
    {
        <input type="hidden" id="HSCB_PATH" name="HSCB_PATH" value="@Model.DUONG_DAN" />
    }
    else
    {
        <input type="hidden" id="HSCB_PATH" name="HSCB_PATH" value="@System.Configuration.ConfigurationManager.AppSettings["HSCBFileUpload"]" />
    }


    if (!string.IsNullOrEmpty(Model.ValidFileExtensions))
    {
        <input type="hidden" id="ValidFileExtensions" name="ValidFileExtensions" value="@Model.ValidFileExtensions" />
    }
    else
    {
        <input type="hidden" id="ValidFileExtensions" name="ValidFileExtensions" value="@System.Configuration.ConfigurationManager.AppSettings["HSCB_FileAllowUpload"]" />
    }

    if (Model.CountAllow.HasValue && Model.CountAllow > 0)
    {
        <input type="hidden" id="fileCount" value="@Model.CountAllow" />
    }
    else
    {
        <input type="hidden" id="fileCount" value="5" />
    }


    if (!string.IsNullOrEmpty(Model.MaxSize))
    {
        <input type="hidden" id="HSCB_MAXSIZE" name="HSCB_MAXSIZE" value="@Model.MaxSize" />
    }
    else
    {
        <input type="hidden" id="HSCB_MAXSIZE" name="HSCB_MAXSIZE" value="@System.Configuration.ConfigurationManager.AppSettings["HSCB_MaxSizeUpload"]" />
    }
    var i = 1;
    if (Model.DOWLOAD_ONLY)
    {
        if (Model.ListFiles != null && Model.ListFiles.Count > 0)
        {
            <table class="webGrid mf10">
                <thead>
                    <tr class="head">
                        <th style="width:80%" scope="col">Tên tài liệu</th>
                        <th>Xem nhanh</th>
                        <th scope="col">Tải tài liệu</th>
                    </tr>
                </thead>
                <tbody id="UpLoadFile">
                    @foreach (var item in Model.ListFiles)
                    {
                        <tr id="filesave_@i">
                            <td style="text-align:left;">
                                @item.TENTAILIEU
                            </td>
                            <td class="center">
                                <a class="btn btn-primary" onclick="previewFile(this)" href="javascript:void(0)">
                                    <i class="glyphicon glyphicon-eye-open "></i>
                                </a>
                            </td>
                            <td>
                                <a href="/Common/DownloadFileNhanSu/@item.ID">
                                    Tải về
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    else
    {
        <table style="width:100%">
            <tr>
                <td>
                    <label>
                        @if (!string.IsNullOrEmpty(Model.ValidFileExtensions))
                        {
                            <span>File hợp lệ:</span> <span style="color:red">@Model.ValidFileExtensions</span>
                        }
                        @if (!string.IsNullOrEmpty(Model.MaxSize))
                        {
                            var fileSize = float.Parse(System.Configuration.ConfigurationManager.AppSettings["HSCB_MaxSizeUpload"]) / 1024;
                            <span>,Độ lớn file cho phép: </span> <span style="color:red">@fileSize KB</span>
                        }
                    </label>

                </td>
            </tr>
            <tr>
                <td>
                    <table class="webGrid" style="width:100%">
                        <thead>
                            <tr class="head">
                                <th style="width:60%" scope="col">Tên tài liệu</th>
                                <th scope="col">Chọn tài liệu</th>
                                <th scope="col">
                                    <center>
                                        <img src="~/Content/Images/Add.png" width="16" title="Thêm tài liệu" id="btnAdd" style="cursor:pointer;" />
                                    </center>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="UpLoadFile">
                            @if (Model.ListFiles != null && Model.ListFiles.Count > 0)
                            {
                                for (int j = 0; j < Model.ListFiles.Count; j++)
                                {
                                    <tr id="filesave_@j">
                                        <td style="text-align:left;">
                                            @Model.ListFiles[j].TENTAILIEU
                                        </td>
                                        <td>
                                            <a href="/Common/DownloadFileNhanSu/@Model.ListFiles[j].ID">
                                                Tải về
                                            </a>
                                        </td>
                                        <td>
                                            <a title="Xóa tài liệu" href="javascript:XoaTaiLieuDaLuu(@Model.ListFiles[j].ID, @j)" data-id="filesave_@j"><img src="~/Content/Images/Delete.png" /></a>
                                        </td>
                                    </tr>
                                }
                            }
                            <tr id="file_1">
                                <td>
                                    <input type="text" value="" maxlength="500" class="e-input" placeholder="Nhập tên tài liệu" name="filename" />
                                </td>
                                <td>
                                    <input type="file" onchange="Validate(this)" value="Chọn tài liệu" name="filebase" />
                                </td>
                                <td>
                                    <a title="Xóa tài liệu" href="javascript:XoaTaiLieu(1)" data-id="file_1"><img src="~/Content/Images/Delete.png" /></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    }
}
<script>
    var count_allow = $("#fileCount").val();
    var _count_max = 1;
    var count = 1;
    var _validFileExtensions = $("#ValidFileExtensions").val();
    $(function () {
        $("#btnAdd").click(function () {
            count += 1;
            if (_count_max <= count_allow) {
                _count_max++;
                $("#UpLoadFile").append(CreateFile(count));
            }
        });
    });
    var _validFileExtensions = $("#ValidFileExtensions").val();
    function Validate(oForm) {
        if (_validFileExtensions != "" && _validFileExtensions != null) {
            var arr_Extensions = _validFileExtensions.split(',');
            if (oForm.type == "file") {
                var sFileName = oForm.value;
                if (sFileName.length > 0) {
                    var blnValid = false;
                    var sizeValid = false;
                    var files = oForm.files;
                    if (files.length > 0) {
                        if (parseFloat(files[0].size / 1024) < parseFloat($("#HSCB_MAXSIZE").val() / 1024)) {
                            sizeValid = true;
                        }
                    }

                    for (var j = 0; j < arr_Extensions.length; j++) {
                        var sCurExtension = arr_Extensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValid = true;
                            break;
                        }
                    }

                    if (!sizeValid) {
                        notif({
                            type: 'error',
                            position: 'bottom',
                            msg: "File tải lên vượt quá độ lớn cho phép !",
                        });
                        $.confirm({
                            'title': 'Đã xảy ra lỗi !',
                            'message': "Xin lỗi độ lớn file, " + sFileName + " là " + parseFloat(files[0].size / 1024) + "KB đã vượt quá độ lớn cho phép",
                            'buttons': {
                                'Đóng': {
                                    'class': 'btn-info',
                                    'action': function () {

                                    }
                                },
                            },
                        });
                        oForm.value = "";
                        return false;
                    }
                    if (!blnValid) {
                        notif({
                            type: 'error',
                            position: 'bottom',
                            msg: "Xin lỗi, " + sFileName + " không hợp lệ, file upload hợp lệ là: " + arr_Extensions.join(", "),
                        });
                        $.confirm({
                            'title': 'Đã xảy ra lỗi !',
                            'message': "Xin lỗi, " + sFileName + " không hợp lệ, file upload hợp lệ là: " + arr_Extensions.join(", "),
                            'buttons': {
                                'Đóng': {
                                    'class': 'btn-info',
                                    'action': function () {

                                    }
                                },
                            },
                        });
                        oForm.value = "";
                        return false;
                    }
                }
            }
        }
        return true;
    }
    function XoaTaiLieuDaLuu(id, stt) {
        var file_id = "filesave_" + stt;
        $.confirm({
            'title': 'Xác nhận xóa',
            'message': 'Bạn có chắc chắn muốn xóa không, tài liệu này sẽ không thể phục hồi?',
            'buttons': {
                'Xóa': {
                    'class': 'btn-confirm-yes',
                    'action': function () {
                        $.ajax({
                            type: "POST",
                            url: '/Common/DeleteFileNhanSu',
                            cache: false,
                            data: {
                                id: id
                            },
                            success: function (data) {
                                _count_max--;
                                if (data == "1") {
                                    $("#" + file_id).remove();
                                    notif({
                                        type: 'success',
                                        position: 'bottom',
                                        msg: 'Xóa tài liệu thành công!',
                                    });
                                }
                                else {
                                    notif({
                                        type: 'error',
                                        position: 'bottom',
                                        msg: 'Có lỗi trong quá trình xóa tài liệu, vui lòng thử lại!',
                                    });
                                }
                            }
                        });
                    }
                },
                'Không xóa': {
                    'class': 'btn-info',
                    'action': function () { } // Nothing to do in this case. You can as well omit the action property.
                }
            }
        });

    };
    function XoaTaiLieu(id) {
        var file_id = "file_" + id;
        var filename = $("#" + file_id + " input[name='filename']").val();
        var fileupload = $("#" + file_id + " input[name='filebase']").val();
        if (filename.length > 0 || fileupload.length > 0) {
            $.confirm({
                'title': 'Xác nhận xóa',
                'message': 'Bạn có chắc chắn muốn xóa tài liệu này?',
                'buttons': {
                    'Xóa': {
                        'class': 'btn-confirm-yes',
                        'action': function () {
                            $("#" + file_id).remove();
                            _count_max--;
                        }
                    },
                    'Không xóa': {
                        'class': 'btn-info',
                        'action': function () { } // Nothing to do in this case. You can as well omit the action property.
                    }
                }
            });
        } else {
            $("#" + file_id).remove();
            _count_max--;
        }

    };
    function CreateFile(count) {
        return '<tr id="file_' + count + '"> ' +
            '<td><input placeholder="Nhập tên tài liệu" class="e-input" name="filename" type="text"  />&nbsp;</td>' +
                '<td><input type=\"file\" name=\"filebase\" value=\"Chọn tài liệu\" onchange=\"Validate(this)\" /></td><td><a title="Xóa tài liệu" href="javascript:XoaTaiLieu(' + count + ')" class="remove"><img src="../../../Content/Images/Delete.png" /></a></td></tr>';
    }

</script>
