@using Web.FwCore
@using Business.Business
@using Business.CommonBusiness
@using Web.Models
@model Web.Areas.TDKTPhongTraoThiDuaArea.Models.PhongTraoThiDuaViewModel
@{
    ViewBag.Title = "Phong trào thi đua khen thưởng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #collapseThongTinChinh {
        padding-left: 20px;
        padding-right: 20px;
    }
</style>
<script src="~/Scripts/tiny_mce/tinymce.min.js"></script>
@Html.Partial("_TopNavbar")
@Html.Partial("_MenuLeft")

<div class="right-all-page" style="border-left:1px solid #cccccc; background:#fff;">
    <h3 class="group-tittle mt10" style="height: 41px">Chi tiết phong trào thi đua</h3>
    <div style="margin:auto; margin-top:20px" id="collapseThongTinChinh" class="panel-collapse collapse in" aria-expanded="true">
        <table class="webGrid" style="width: 80% !important">
            <tr>
                <td style="width:20%">
                    <label class="lbl-title">Kế hoạch thi đua:</label>
                </td>
                <td colspan="3">
                    <div class="input-field4 clearfix fix-width" style="width:100%">
                        <label>
                            @Model.PhongTraoThiDua.KE_HOACH_THI_DUA
                        </label>
                    </div>
                </td>
            </tr>            
            
            @*End*@
            <tr>
                <td>
                    <label class="lbl-title">Nội dung phong trào thi đua:</label>
                </td>
                <td colspan="3">
                    @Html.Raw(Model.PhongTraoThiDua.NOI_DUNG)
                </td>
            </tr>           
            <tr>
                <td>
                    <label class="lbl-title">Tài liệu liên quan: </label>
                </td>
                <td colspan="3">
                    @{Html.RenderPartial("../Common/UploadFile", Model.LstTaiLieu, new ViewDataDictionary { { "detail", 1 } });}
                </td>
            </tr>
            <tr>
            </tr>
            @*end*@
        </table>
    </div>
    <div style="margin-top: 15px; text-align: center; margin-bottom:100px">
        @Html.Partial("_GroupButton", Model)
        <a style="border: medium none; color: white; padding: 7px 20px; background-color: seagreen;" href="/TDKTPhongTraoThiDuaArea/PhongTraoThiDua">Quay lại </a>
    </div>
</div>
