@using Web.Areas.DMVaiTroArea.Models
@model ChucNangTrangChuViewModel
@Html.AntiForgeryToken()
@using (Ajax.BeginForm("SetChucNangTrangChu", "DMVaiTro", new AjaxOptions()
            {
                HttpMethod = "POST",
                OnFailure = "configChucNangTrangChuFailure",
                OnSuccess = "configChucNangTrangChuSuccess",
            }, new { id = "frmSaveChucNangTrangChu" }))
            {
    <div class="box-border">
        <h3 class="group-tittle1 mt10">Danh sách chức năng - thao tác</h3>
        <table>
            <tr>
                <td>
                    <div style="float: left;width: 100%;">
                        <input class="css-checkbox" id="TT_ALL" name="CN_ITEM" type="checkbox">
                        <label for="TT_ALL" class="css-label2 font-bold">Chọn tất cả (@(Model.ListAllChucNang.Count + " chức năng"))</label>
                        <div class="pq-label-fix" style="max-height:200px; min-height:200px; overflow-y:auto; overflow-x:hidden;">
                            @if (Model.ListAllChucNang != null && Model.ListAllChucNang.Count > 0)
                            {
                                var lstt = "";
                                var lstt_checked = "";
                                foreach (var tt in Model.ListAllChucNang)
                                {
                                    lstt += tt.ID + ",";
                                    if (Model.ListChucNangInRole != null && Model.ListChucNangInRole.Contains(tt.ID))
                                    {
                                        lstt_checked += tt.ID + ",";
                                        <input class="css-checkbox homefunction" value="@tt.ID" id="TT_ITEM_@tt.ID" name="TT_ITEM" type="checkbox" checked="checked">
                                    }
                                    else
                                    {
                                        <input class="css-checkbox homefunction" value="@tt.ID" id="TT_ITEM_@tt.ID" name="TT_ITEM" type="checkbox">
                                    }
                                    <label style="font-weight:normal" for="TT_ITEM_@tt.ID" class="css-label2" title="@tt.MOTACHUCNANG">@tt.TENCHUCNANG</label>
                                }
                                <input type="hidden" value="@lstt_checked" name="ALL_VAL_SELECT_TT" id="ALL_VAL_SELECT_TT" />
                                <input type="hidden" value="@lstt" name="ALL_VAL_TT" id="ALL_VAL_TT" />
                            }
                        </div>

                    </div>
                </td>
            </tr>
        </table>
        <div class="clear-both"></div>
        <div class="pq-default-button">
            <input type="hidden" name="DM_VAITRO_ID" id="DM_VAITRO_ID" value="@Model.DM_VAITRO_ID" />
            <input type="submit" value="Lưu" id="btnSaveConfig" class="btnSearch" />
            <input type="button" value="Đóng" onclick="OnCloseConfig()" class="btnSearch" />
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        var _listChecked = "";
        $("input[name=TT_ITEM]:checked").each(function () {
            _listChecked += $(this).val() + ",";
        });
        if (_listChecked == $("#ALL_VAL_TT").val()) {
            $("#TT_ALL").prop("checked", true);
            $("#TT_ALL").prop("indeterminate", false);
        }
        else {
            if ($("#ALL_VAL_SELECT_TT").val().trim().length > 0) {
                $("#TT_ALL").prop("checked", true);
                $("#TT_ALL").prop("indeterminate", true);
            } else {
                $("#TT_ALL").prop("checked", false);
                $("#TT_ALL").prop("indeterminate", false);
            }
        }
    });
    $(".homefunction").change(function () {
        var listChecked = "";
        $("input[name=TT_ITEM]:checked").each(function () {
            listChecked += $(this).val() + ",";
        });
        $("#ALL_VAL_SELECT_TT").val(listChecked);
        if (listChecked == $("#ALL_VAL_TT").val()) {
            $("#TT_ALL").prop("checked", true);
            $("#TT_ALL").prop("indeterminate", false);
        }
        else {
            if ($("#ALL_VAL_SELECT_TT").val().trim().length > 0) {
                $("#TT_ALL").prop("checked", true);
                $("#TT_ALL").prop("indeterminate", true);
            } else {
                $("#TT_ALL").prop("checked", false);
                $("#TT_ALL").prop("indeterminate", false);
            }
        }
    });
    $("#TT_ALL").change(function () {
        if ($("#TT_ALL").is(":checked")) {
            var listChecked = "";
            $("#TT_ALL").prop("checked", true);
            $("#TT_ALL").prop("indeterminate", false);
            $("input[name=TT_ITEM]").prop("checked", true);
            $("input[name=TT_ITEM]:checked").each(function () {
                listChecked += $(this).val() + ",";
            });
            $("#ALL_VAL_SELECT_TT").val(listChecked);
        }
        else {
            $("#TT_ALL").prop("checked", false);
            $("#TT_ALL").prop("indeterminate", false);
            $("input[name=TT_ITEM]").prop("checked", false);
        }
    });
    function configChucNangTrangChuFailure(xhr, error) {
        CommonJS.alert(xhr.responseText);
    }

    function configChucNangTrangChuSuccess() {
        CommonJS.alert("Thiết lập chức năng trên trang chủ thành công");
        $("#SetChucNangTrangChuVaiTro").dialog("close");
        reloadGrid();
    }
    function OnCloseConfig() {
        $("#SetChucNangTrangChuVaiTro").dialog("close");
    }
</script>
