@using Model.DBTool;
@using Web.Areas.TaiLieuKetXuatArea.Models;
@model EditTailieuVM

@using (Ajax.BeginForm("EditTaiLieu", "TaiLieuKetXuat", new { @area = "TaiLieuKetXuatArea" }, new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnFailure = "CapNhat_Tailieu_failure",
    OnSuccess = "CapNhat_Tailieu_Success"

}, new { id = "form_CapNhat_tailieu", enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken();
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="font-weight: bold; text-transform: uppercase;" class="modal-title" id="myModalLabel">Cập nhật tài liệu kết xuất <span id="detail" style="color: yellow; text-transform: none"></span></h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <input type="hidden" name="ID" value="@Model.TaiLieu.ID" />
            <div class="form-group">
                <label class="col-md-4 control-label">Tên tài liệu<span class="red">(*)</span></label>
                <div class="col-md-8">
                    <input class="form-control required" type="text" value="@Model.TaiLieu.TENTAILIEU" name="TENTAILIEU" />
                    <div class="note-error">
                        <span class="error mes-note-error"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Mã Tài liệu<span class="red">(*)</span></label>
                <div class="col-md-8">
                    <input class="form-control required" type="text" onchange="CheckMa(this,@Model.TaiLieu.ID)" value="@Model.TaiLieu.MA_TAILIEU" name="MATAILIEU" />
                    <div class="note-error">
                        <span class="error mes-note-error"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Tài liệu</label>
                <div class="col-md-8">
                    <input class="form-control" accept=".docx" type="file" name="file" />
                    <div class="note-error">
                        <span class="error mes-note-error"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Trạng thái kết xuất<span class="red">(*)</span></label>
                <div class="col-md-8">
                    @Html.DropDownList("TRANGTHAIKETXUAT", Model.DsTrangThai, new { @class = "select2 requiredDropDownList", @style = "width:100%", @multiple = "multiple" })
                    <div class="note-error">
                        <span class="error mes-note-error"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="center">
            <button class="btn btn-primary btn-sm" id="btn-capnhat-tailieu">Cập nhật</button>
        </div>
    </div>

}

<script>

    function CheckMa(ele, id) {
        var elementObj = $(ele);
        var ma = elementObj.val();
        $.ajax({
            type: "POST",
            url: '/TaiLieuKetXuatArea/TaiLieuKetXuat/CheckMa',
            data: { 'maTaiLieu': ma, 'id': id },
            success: function (rs) {
                if (!rs.Status) {
                    var err = elementObj.next().find(".error");
                    err.html(rs.Message);
                    err.css("display", "inline");
                    elementObj.val("");
                }
            },
            error: function () {
                NotiError("Không kiểm tra được mã tài liệu.");
            },
        });
    }

    $("form#form_CapNhat_tailieu").submit(function () {

        var dataString;
        event.preventDefault();
        var contentType1 = false;
        var action = $("#form_CapNhat_tailieu").attr("action");
        if ($("#form_CapNhat_tailieu").attr("enctype") == "multipart/form-data") {
            //this only works in some browsers.
            //purpose? to submit files over ajax. because screw iframes.
            //also, we need to call .get(0) on the jQuery element to turn it into a regular DOM element so that FormData can use it.
            dataString = new FormData($("#form_CapNhat_tailieu").get(0));
            contentType1 = false;
            processData = false;
        } else {
            // regular form, do your own thing if you need it
        }
        $.ajax({
            type: "POST",
            url: action,
            data: dataString,
            dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
            contentType: false,
            processData: false,
            success: CapNhat_Tailieu_Success,
            error: CapNhat_Tailieu_failure,
        });

        return false;


    });

    $("#btn-capnhat-tailieu").click(function () {
        var err = 0;
        err += requiredFieldForFormId("form_CapNhat_tailieu") ? 0 : 1;
        err+=RequireDropDownlist("form_CapNhat_tailieu") ? 0 : 1;
        if (err) {
            console.log(err);

            NotiError("Vui lòng kiểm tra thông tin nhập<br/> Các trường (*) là bắt buộc");
        } else {
            $("#form_CapNhat_tailieu").submit();
        }

        return false;
    })

    function CapNhat_Tailieu_failure() {
        NotiError("Không thực hiện được thao tác");
    }

    function CapNhat_Tailieu_Success(rs) {
        if (rs.Status) {
            NotiSuccess("Cập nhật tài liệu thành công.");
            CloseCapNhatModal();
            reloadData();
        } else {
            NotiError("Cập nhật thất bại<br/>" + rs.Message);
        }
    }

    $(document).ready(function () {
        $(".select2").select2();
    })
</script>